[*.cs]

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none

# IDE0059: Unnecessary assignment of a value
dotnet_diagnostic.IDE0059.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none

# MSTEST0012: AssemblyInitialize methods should have valid layout
dotnet_diagnostic.MSTEST0012.severity = none

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = none
